<p id="notice"><%= notice %></p>
<div class="container">

<h1 class="label"><%= @attachment.title %></h1>

  <div class>
    <div id="label">Description: </div>
    <div id="desc"> <%= @attachment.description %> </div>
  </div>
  <div class>
    <% @attachment.files.each do |file| %>
      <% if @attachment.files.first == file %>
        <p>
          <%= file.filename%>
          <%= link_to 'Download', download_path(id: file, file: file.blob.key, attachment: :attachment), class: "btn btn-success btn-md" %>
        </p>
      <% else %>
        <p>
          <%= file.filename %>
          <%= link_to 'Download', download_path(file: file.blob.key, attachment: :attachment), class: 'download-link' %>
        </p>
      <% end %>
    <% end %>
  </div>
  <div>
    <div><%= link_to 'Back', attachments_path, class: "btn btn-warning btn-md" %></div>
  </div>
</div>